{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "^react-native$": "react-native-web",
          "^styled-components/native$": "styled-components"
        }
      }]
    ]
  }